{% extends 'layout.html' %}

{% if form is defined %}
	{% form_theme form 'form/fields.twig' %}
 {% endif %}

{% block content %}
<div class="container">
	
	<div class="row">
				<div class="col-md-4">
			{% if sent %}
			<p>Thank you for getting in touch. If a response is required we will get back to you as soon as we can.</p>
			
			{% else %}
			<h1>Contact Us</h1>
                <p>Contact us using the form below and we'll get back in touch with you.</p>
			{{ form(form, {'action': path('contact'), 'method': 'POST'}) }}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}