{% extends "layout.twig" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            
            
              <img src="{{ asset('images/sai-prasad-nivara-logo.jpg') }}" >
            
            <h1>1 BHK flats (555 Sq ft) available at Shirdi</h1>
            <p class="text-display">A Project by Soham Properties, located at 5 minutes (2.5 Kms) distance from the Shirdi Sai Baba Temple.</p>
            
            <a href="contact" class="btn btn-lg btn-primary">Enquire Now</a>
          </div>
          
        </div>
      </div>
</div>





<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
     
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      
    </div>
  </div> <!-- row -->
   
</div>

{% endblock %}
