{% extends "layout.twig" %}

{% block content %}
<div class="jumbotron jumbotronMain text-center">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="textDisplayWrapper">
                <div class="">
                  <img src="{{ asset('images/sai-prasad-nivara-logo.jpg') }}" >

                <h1>1 BHK flats (555 Sq ft) available at Shirdi</h1>
                <p class="text-display">A Project by Soham Properties, located at 5 minutes (2.5 Kms) distance from the Shirdi Sai Baba Temple.</p>

                <a href="contact" class="btn btn-lg btn-primary">Enquire Now</a>
                </div>
            </div>
            
          </div>
          
        </div>
      </div>
</div>





<div class="container boxWrapper">


  <div class="row">
    <div class="col-md-6">
      <h2><span class="glyphicon glyphicon-info-sign"></span> About Us</h2>
        
     <p>
        Soham Sai Prasad Niwara is a residential development by Soham properties. It has a thoughtful design and is well equipped with all the modern day amenities as well as basic facilities. The project offers spacious and skillfully designed 1BHK flats.

</p>
        <p>
        <h3>Proximities</h3>
2.5 km from Sai Baba Temple and the nearest landmark to this project is Taj Hotel
        </p>
      <a href="contact" class="btn btn-lg btn-primary">Enquire Now</a>
    </div>
    <div class="col-md-6">
        
        <div class="row">
            <div class="col-sm-6">
                <h3><span class="glyphicon glyphicon-link"></span>Ongoing Projects</h3>
                <div class="boxBoder rel">

                    <div class="rel imgBox">
                       <a href="http://www.99acres.com/soham-sai-prasad-niwara-pimpalwadi-road-shirdi-npxid-r7686" target="_blank" ><img class="boxImg1"  src="{{ asset('images/elevation-mini.jpg') }}" alt="Sai Prasad Niwara
" ></a>
                    </div>
                    <div class="propertyPriceTag">
                        <div class="propertyPrice">20.74 Lac to 26.82 Lac</div>
                    </div>
                    <a href="http://www.99acres.com/soham-sai-prasad-niwara-pimpalwadi-road-shirdi-npxid-r7686" target="_blank" >
                        <span class="propertyName">Sai Prasad Niwara</span></a>
                    <div class="locality">Shirdi, Ahmednagar </div>
                    <div class="propertyType">1 BHK , Area: 555 Sq. Ft. </div>

                </div>
            </div>
            <div class="col-sm-6">
                <h3><span class="glyphicon glyphicon-link"></span>Completed Projects</h3>
                <div class="boxBoder rel">

                    <div class="rel imgBox">
                       <a href="http://www.99acres.com/soham-residency-wagholi-pune-npxid-r80636?src=BUILDERPROJ" target="_blank" ><img class="boxImg1"  src="{{ asset('images/soham_builder_images-mini.jpg') }}" alt="Soham Residency" ></a>
                    </div>
                    <div class="propertyPriceTag">
                        <div class="propertyPrice">20.74 Lac to 26.82 Lac</div>
                    </div>
                    <a href="http://www.99acres.com/soham-residency-wagholi-pune-npxid-r80636?src=BUILDERPROJ" target="_blank" >
                        <span class="propertyName">Soham Residency</span></a>
                    <div class="locality">Wagholi, Pune </div>
                    <div class="propertyType">1 BHK , Area: 610 Sq. Ft. </div>

                </div>
            </div>
        </div>
    </div>
  </div> <!-- row -->

   
    
    
</div>


<!--
<div class="boxWrapper jumbotron">
  <div class="container" style="min-height:200px;">
      <div class="row">
        <div class="col-md-12">        
            
            
          </div>
          
        </div>
      </div>
</div>
-->
<div class="boxWrapper">
  <div class="container">
       <hr>
      
      <div class="row">
          <div class="col-md-4"> 
              <div>
                <h4><span class="glyphicon glyphicon-link"></span>Possession</h4>
                <div class="iconText">
                  <p>June 2016
                    <br>Under Construction
                    </p>
                </div>
              </div>
              <hr>
              <div>
                <h4><span class="glyphicon glyphicon-link"></span>Property Type</h4>
                <div class="iconText">
                  <p>Apartment</p>
                  
                </div>
              </div>
              <hr>
              <div>
                <h4><span class="glyphicon glyphicon-link"></span>Project Details</h4>
                <div class="iconText">
                  <p>21 Units
                    
                    </p>
                </div>
              </div>
              
          </div>
          <div class="col-md-4">        
                      
              
              <div>
                <h4><span class="glyphicon glyphicon-link"></span>Address</h4>
                <div class="iconText">
                  <p>Pimpalwadi Road
                    <br>City: Shirdi
                    </p>
                </div>
              </div>
              <hr>
              <div>
                <h4><span class="glyphicon glyphicon-link"></span>Configuration</h4>
                <div class="iconText">
                  <p>1 BHK</p>
                  
                </div>
              </div>
               <hr>
              <div>
                <h4><span class="glyphicon glyphicon-link"></span>Scalable Area</h4>
                <div class="iconText">
                  <p>555 sqft</p>
                  
                </div>
              </div>
              
          </div>
          <div class="col-md-4">        
              
              <div>
                <h4><span class="glyphicon glyphicon-link"></span>Amenities</h4>
                <div class="iconText">
                  <p>
                      24/7 Power Backup Units<br>
                      Lifts
                    
                    </p>
                </div>
              </div>
              <hr>
              <div>
                <h4><span class="glyphicon glyphicon-link"></span>Nearby Amenities</h4>
                <div class="iconText">
                  <p>Near by School</p>
                       <p>Near by Hospital</p>
                       <p>Near by Restaurant</p>
                       <p>Near by Sai Baba Temple</p>
                    
                    
                  
                </div>
              </div>
              
          </div>
          
        </div>
      </div>
</div>

{% endblock %}
