body{
    font-family: 'Open Sans', sans-serif;
}
.jumbotron {
  background: rgba(181, 161, 126, 0.92);
     color: #573E13;
  padding-bottom: 80px;
}

.jumbotron p.text-display {

 
  margin: 1em auto 2em;
}
.jumbotron h1 {
  font-size: 40px;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  overflow: hidden;
  height: 100px;
  margin: auto;
  
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
/**override*/
.navbar-inverse {
    background-color: #fff;
    border-color: #7C6846;
}

.jumbotron .btn-primary {
    background: #7C6846;
    border-color: #716111;
}
.btn-primary:hover,  .navbar-default .navbar-nav>li>a:hover{
    background-color: #897758;
    border-color: #897758;
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background: #7C6846;
    border-color: #716111;
}
.navbar-default .navbar-nav>li>a{
    color: #7C6846;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover{
    color: #897758;
    font-weight: bold;
}

.jumbotron .h1, .jumbotron h1 {
    color: #573E13;
}
.alert-info {
    background-color: #F0E4CD;
    border-color: #F0d1c1;
}
.alert-info .alert-link {
        color: #573E13;
}
.footer .nav>li>a{
    padding:5px;
}
button[type=submit]{
    text-transform:capitalize;
}
.contact-form .alert-info {
    color:red;
}