<footer class="footer-main">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
              <li class="navbar-right">
                <a href="https://www.facebook.com/saiprasadniwara" target="_blank"><img src="images/social/facebook.png" /></a>
              </li>
              <li class="navbar-right">
                <a href="http://www.99acres.com/soham-sai-prasad-niwara-pimpalwadi-road-shirdi-npxid-r7686" target="_blank">
                  <img src="images/social/99acres.png" />
                </a>
              </li>
            </ul>
        </div>
</footer>