<!DOCTYPE html>
<html>
<head>
  {% include 'head.twig' %}
</head>

<body>
    <div class="mainContentWrapper">
  {% include 'nav.twig' %}

  {% block content %}{% endblock %}
        
        {% include 'footer.twig' %}
  </div>  
    
</body>
</html>
