<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('home') }}">Sai Prasad Nivara</a>
    </div>

	<div class="screen-menu"> 
	 <!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
            <li{% if active == 'home' %} class="active"{% endif %}><a href="{{ path('home') }}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li{% if active == 'contact' %} class="active"{% endif %}><a href="{{ path('contact') }}"><span class="glyphicon glyphicon-envelope"></span> contact</a></li>
		  </ul>
		  

		  
		  
		</div><!-- /.navbar-collapse -->
	</div>	
	
	
  </div><!-- /.container -->
</nav>